.form-row {
  align-items: center;
  .form-group {
    display: flex;
    .task-title {
      height: 66px;
    }
    .btn-primary {
      height: 38px;
    }
  }
  
}

.task {
  margin: 0 0 50px 0;
  p {
    padding-left: 0;
    line-height: 38px;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
}

.task-edit {
  padding: 10px 0 ;
}

.edit-btn:click {
  .incomplete-task {
    display: none;
  }
}